.accordion-title {
  cursor: pointer;
  padding: 15px;
  background: #eee;
  border: 1px solid #ddd;
  font-weight: bold;
  position: relative;
}

.accordion-title.active::after {
  content: '-';
  float: right;
}

.accordion-title::after {
  content: '+';
  float: right;
}

.accordion-content {
  padding: 15px;
  border: 1px solid #ddd;
  border-top: 0;
}